// contient le style a afficher pour le format desktop
// comme le style définit ici est chargé après le fichier de style tablet/global.scss, alors
// les règles dans ce fichier (desktop/global.scss) surcharge celles définit dans tablet/global.scss

body{
  // affiche le bandeau du profiler de symfony en vert sombre
  // je surcharge la règle '.sf-toolbarreset' définit dans 'tablet/global.scss'
  .sf-toolbarreset{
    background-color:blue;
  }
  div{
    background-color:rgb(199, 8, 8);

  }
  h1 {
    text-align: center;
    color: white;
    }

    h2{
      text-align: center;
      color: white;
    }
    h3{
      text-align: center;
    }



  p{
    color:black;
    background-color:white;
    border:1px;border:1px solid black;
}
  .page{
    width: 780px;
    margin: auto;
    font-size: 16px;
    font-family: 'Source Code Pro',Calibri,Tahoma,sans-serif;
    padding: 40px;
    border:5px solid #338;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 4px black;
    background-color: #FFFFFF;
  }
  .infophoto{
    height: 250px;
  }
  .section{
    margin-bottom: 70px;
    text-align:justify;
  }
  h2{
    font-size: 28px;
    color:#338;
    text-transform: uppercase;
    border-bottom: 3px solid #338;
  ;
  }
  .sec-gauche{
    float: left;
    font-weight: bold;
    font-size: 20px;

  }
  .sec-droite{
    margin-left: 150px;

  }
  strong{
    font-size: 26px;
  }
  .dure{
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
  }
  .sec-droite{
    margin-left: 150px;

  }
  .titre{
    font-weight: bold;
    font-size: 20px;
  }
  #forma-gauche p{
    margin-bottom: 37px;
  }
  .lien{
    float:right;
  }


}
