{#heriter du theme de base#}

{% extends 'base.html.twig' %}
{#mais si je veux heriter il faut le placer dans un bloc#}
{% block body %}
	<h1>
		Bienvenue sur mon site
	</h1>
	<h3>
		Je suis étudiante en Master 2 Informatique pour les sciences à la recherche de nouvelles opportunités pour un stage en Developpement web</h3>
	<h3>
		Decouvrez  mes compétences ,mes experiences professionnelles et mes projets Academiques
	</h3>


{% endblock %}
