{% extends 'base.html.twig'%}
{% block title %}{% endblock %}
{% block body %}
	<head></head>
	<div class="page">
		<div class="infophoto">
			<div class="info">
				<p>
					<strong>
						Soraya TOUMI</strong>
				</p>
				<p>
					570 route de Ganges, 34070 Montpellier<br/></p>
				<p>fetimatoumi@yahoo.com</p>

			</div>

		</div>
		<div class="section">
			<h2>formation</h2>
			<div class="sec-gauche" id="forma-gauche">
				<p>
					2019
				</p>
				<p>
					2018
					<br/></p>
				<p>
					2017
					<br/></p>

			</div>
			<div class="sec-droite">
				<p>
					<span class="titre">
						Université de Montpellier</span><br/>
					Master II Inforormatique</p>
				<p>
					<span class="titre">
						Université de Montpellier
					</span><br/>Master II Inforormatique</p>
				<p>
					<span class="titre">
						Université de Toulouse 3
					</span><br/>
					épidémiologie vétérinaire</p>

			</div>
		</div>
		<div class="section">
			<h2>Experiences Professionnelles</h2>
			<div class="sec-gauche" id="forma-gauche">
				<p>
					2019
				</p>
				<p>
					2019
					<br/></p>
				<p>
					2019
					<br/></p>
				<p>
					2019
					<br/></p>

			</div>
			<div class="sec-droite">
				<div class="lien">
					<a href="https://github.com/solinatoumi/symfoTest" class="btn btn-primary type =" submit">guithub</a>
				</div>
				<p>
					<span class="titre">
						création d'un cv avec le framework symfony
					</span><br/>
					Avec le framework php :symfonie,Doctrine,Twig</p>
				<div class="lien">
					<a href="https://github.com/solinatoumi/responsiveskeleton" class="btn btn-primary type =" submit">
						guithub
					</a>
				</div>
				<p>
					<span class="titre">
						gestion des templates avec symfony
					</span><br/>
					d'affichage avec le framework symfony</p>
				<div class="lien">
					<a href="https://github.com/solinatoumi/generateur-de-sites-web" class="btn btn-primary type =" submit">
						guithub
					</a>
				</div>
				<p>
					<span class="titre">
						Création d’un générateur de site web
					</span><br/>
					en utlisant D3 et OpenLayer</p>


			</div>
		</div>

		<div class="section">
			<h2>Centeres interets
			</h2>
			<div class="sec-gauche">
				<p>
					Randonnées
				</p>
				<p>
					Voyages<br/></p>
				<p>Cuisine
					<br/></p>


			</div>
			<div class="sec-droite">
				<p>
					<span class>
						nature</span><br/></p>
				<p>
					<span class>
						Allemagne,Italy</span><br/></p>
				<p>
					<span class>
						Algerienne</span><br/></p>


			</div>
		</div>

	</div>


{% endblock %}
