{% extends 'base.html.twig' %}
{% block body %}
	<projet>
		<h2>
			{{projet.intitule}}
		</h2>

		<div class="metatdata">
			fait  le
			{{projet.createdAt | date('d/m/y')}}
		</div>
		<div class="conent">
			<p>{{ projet.Description | raw}}</p>
			<a href="https://gitlab.com/" class="btn btn-primary type =" submit">
				Voir gitLab
			</a>
		</div>
	</projet>

{% endblock %}
