<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">

	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>


		{% block stylesheets %}{% endblock %}

	</head>
	<body>
		{{ encore_entry_link_tags('globalStyle') }}
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="{{path('home')}}">
				Soraya TOUMI</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<nav class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="{{path('pagecv')}}">
							Mes informations</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="{{path('index')}}">Mes Projets</a>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Search">
					<input class="btn btn-success" type="button" onclick="window.location.href = 'https://fr.linkedin.com/in/soraya-toumi-a444b6168/';" value="Me contacter"/>


				</form>
			</nav>
		</nav>
		<nav class="container"> {% block body %}{% endblock %}
			{{ encore_entry_script_tags('globalJS') }}
			{% block javascripts %}{% endblock %}
		</body>
	</body>
</html>
